#grid-container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    width: 480px;
    height: 480px;
    position: absolute;
    margin-top: 7%;
    align-self: flex-start;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-cell{
    border: solid 1px;
    width:6.25%;
    height:6.25%;
    box-sizing: border-box;
    cursor: pointer;
}
body{
    height: 100%;
    width:99%;
}
#button-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
}

.button-s{
    border: 1px solid;
    padding:10px;
    background-color:rgb(70, 70, 241);
    color: white;
    border-radius: 8px;
}